.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;


  .moneyManagement-img {
    width: 25rem;
  }

  &-title {
    font-family: $roboto-font;
    font-size: 2rem;
    text-align: center;
  }

  &-info {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
    line-height: 2rem;

    strong {
      color: black;
    }
  }
}

@media screen and (min-width:400px) and (max-width: 599) {
  .content {

    .moneyManagement-img {
      width: 30rem;
    }

    &-title {
      font-size: 2.7rem;
    }

    &-info {
      font-size: 1.8rem;
    }
  }
}

@media screen and (min-width:600px) and (max-width: 1023px) {
  .content {

    .moneyManagement-img {
      width: 32rem;
    }

    &-title {
      font-size: 3rem;
    }

    blockquote {
      width: 80%;
      border: 1px solid red;
    }

    &-info {
      font-size: 2rem;
      line-height: 2.5rem;
    }

  }
}

@media screen and (min-width:1024px) {
  .content {

    .moneyManagement-img {
      width: 32rem;
    }

    &-title {
      font-size: 3rem;
    }


    &-info {
      width: 50%;
      margin-inline: auto;
      font-size: 2rem;
      line-height: 2.5rem;
    }

  }
}

@media screen and (min-width:1400px) {
  .content {

    .moneyManagement-img {
      width: 40rem;
    }

    &-title {
      font-size: 3.5rem;
    }

    &-info {
      width: 50%;
      margin-inline: auto;
      font-size: 2.5rem;
      line-height: 3.5rem;
    }

  }
}

@media screen and (min-width:2000px) {
  .content {

    .moneyManagement-img {
      width: 80rem;
    }

    &-title {
      font-size: 7rem;
    }

    &-info {
      width: 60%;
      margin-inline: auto;
      font-size: 5rem;
      line-height: 7rem;
    }

  }
}