@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
  color: #1c3762;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.container {
  height: 100vh;
  background-color: #D7FBE8;
  padding-inline: 2rem;
}

header {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
}
header img {
  width: 20rem;
}
header h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  color: #1c3762;
  text-align: center;
  word-break: break-all;
}
header .mouse {
  display: none;
  width: 3rem;
  height: 5rem;
  border: 0.3rem solid #333;
  border-radius: 6rem;
  position: relative;
}
header .mouse::before {
  content: "";
  width: 0.7rem;
  height: 1rem;
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  border-radius: 50%;
  -webkit-animation: mouse 1.5s infinite;
          animation: mouse 1.5s infinite;
}
header .touch {
  width: 5rem;
  -webkit-animation: touch 2s infinite alternate ease-in-out;
          animation: touch 2s infinite alternate ease-in-out;
}

@media only screen and (min-width: 400px) and (max-width: 600px) {
  header img {
    width: 20rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  header img {
    width: 30rem;
  }
  header h1 {
    font-size: 3rem;
  }
  header .touch {
    width: 5rem;
  }
}
@media only screen and (min-width: 1024px) {
  header img {
    width: 30rem;
  }
  header h1 {
    font-size: 3.5rem;
  }
  header .mouse {
    display: block;
  }
  header .touch {
    display: none;
  }
}
@media only screen and (min-width: 2000px) {
  header img {
    width: 55rem;
  }
  header h1 {
    font-size: 6.5rem;
  }
  header .mouse {
    width: 6rem;
    height: 10rem;
  }
  header .mouse::before {
    width: 1rem;
    height: 2rem;
  }
}
@-webkit-keyframes mouse {
  from {
    opacity: 1;
    top: 1rem;
  }
  to {
    opacity: 0;
    top: 2rem;
  }
}
@keyframes mouse {
  from {
    opacity: 1;
    top: 1rem;
  }
  to {
    opacity: 0;
    top: 2rem;
  }
}
@-webkit-keyframes touch {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3rem);
  }
}
@keyframes touch {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3rem);
  }
}
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 3rem;
}
.content .moneyManagement-img {
  width: 25rem;
}
.content-title {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.content-info {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
  line-height: 2rem;
}
.content-info strong {
  color: black;
}

@media screen and (min-width: 400px) and (max-width: 599) {
  .content .moneyManagement-img {
    width: 30rem;
  }
  .content-title {
    font-size: 2.7rem;
  }
  .content-info {
    font-size: 1.8rem;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  .content .moneyManagement-img {
    width: 32rem;
  }
  .content-title {
    font-size: 3rem;
  }
  .content blockquote {
    width: 80%;
    border: 1px solid red;
  }
  .content-info {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .content .moneyManagement-img {
    width: 32rem;
  }
  .content-title {
    font-size: 3rem;
  }
  .content-info {
    width: 50%;
    margin-inline: auto;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media screen and (min-width: 1400px) {
  .content .moneyManagement-img {
    width: 40rem;
  }
  .content-title {
    font-size: 3.5rem;
  }
  .content-info {
    width: 50%;
    margin-inline: auto;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 2000px) {
  .content .moneyManagement-img {
    width: 80rem;
  }
  .content-title {
    font-size: 7rem;
  }
  .content-info {
    width: 60%;
    margin-inline: auto;
    font-size: 5rem;
    line-height: 7rem;
  }
}
.main-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  position: relative;
}
.main-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  text-align: center;
}
.main-content p {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.main-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}
.main-content form input {
  width: 18rem;
  height: 3rem;
  background-color: white;
  border: 1px solid rgba(28, 55, 98, 0.5);
  border-radius: 5rem;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
.main-content form input::-moz-placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
.main-content form input:-ms-input-placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
.main-content form input::placeholder {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
}
.main-content form input:focus {
  outline: none;
  border: 2px solid #1c3762;
}
.main-content form input:focus::-moz-placeholder {
  color: transparent;
}
.main-content form input:focus:-ms-input-placeholder {
  color: transparent;
}
.main-content form input:focus::placeholder {
  color: transparent;
}
.main-content form button {
  width: 12rem;
  height: 2.5rem;
  border: 1px solid #fff;
  border-radius: 5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: 700;
  line-height: 2.5rem;
  background-color: #1c3762;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .main-content h2 {
    font-size: 4rem;
  }
  .main-content p {
    font-size: 1.8rem;
  }
  .main-content form input {
    width: 22rem;
    height: 3.5rem;
    font-size: 1.5rem;
  }
  .main-content form input::-moz-placeholder {
    font-size: 1.5rem;
  }
  .main-content form input:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .main-content form input::placeholder {
    font-size: 1.5rem;
  }
  .main-content form button {
    width: 14rem;
    height: 3rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .main-content h2 {
    font-size: 5.5rem;
  }
  .main-content p {
    font-size: 2.3rem;
  }
  .main-content form input {
    width: 25rem;
    height: 3.5rem;
    font-size: 2rem;
  }
  .main-content form input::-moz-placeholder {
    font-size: 2rem;
  }
  .main-content form input:-ms-input-placeholder {
    font-size: 2rem;
  }
  .main-content form input::placeholder {
    font-size: 2rem;
  }
  .main-content form button {
    width: 15rem;
    height: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 1400px) {
  .main-content h2 {
    font-size: 8rem;
  }
  .main-content p {
    font-size: 3.5rem;
  }
  .main-content form input {
    width: 40rem;
    height: 5.5rem;
    font-size: 2.5rem;
  }
  .main-content form input::-moz-placeholder {
    font-size: 2.5rem;
  }
  .main-content form input:-ms-input-placeholder {
    font-size: 2.5rem;
  }
  .main-content form input::placeholder {
    font-size: 2.5rem;
  }
  .main-content form button {
    width: 28rem;
    height: 5rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 2000px) {
  .main-content {
    row-gap: 5rem;
  }
  .main-content h2 {
    font-size: 12rem;
  }
  .main-content p {
    font-size: 5rem;
  }
  .main-content form {
    row-gap: 3rem;
  }
  .main-content form input {
    width: 55rem;
    height: 8rem;
    font-size: 3.5rem;
  }
  .main-content form input::-moz-placeholder {
    font-size: 3.5rem;
  }
  .main-content form input:-ms-input-placeholder {
    font-size: 3.5rem;
  }
  .main-content form input::placeholder {
    font-size: 3.5rem;
  }
  .main-content form button {
    width: 40rem;
    height: 8rem;
    font-size: 3.5rem;
  }
}
@-webkit-keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  row-gap: 8rem;
  height: 100%;
}
.footer .credits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}
.footer .credits h2 {
  font-size: 2.5rem;
  text-align: center;
}
.footer .credits .credits-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.footer .credits .credits-links a {
  text-decoration: none;
}
.footer .credits .credits-links a img {
  width: 10rem;
}
.footer .madeBy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}
.footer .madeBy h2 {
  font-size: 2.5rem;
  text-align: center;
}
.footer .madeBy p {
  font-size: 2rem;
  font-weight: 500;
  color: #1FAB89;
}
.footer .madeBy .madeBy-links {
  display: flex;
  align-items: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.footer .madeBy .madeBy-links a {
  text-decoration: none;
}
.footer .madeBy .madeBy-links a .fa-brands {
  font-size: 2.5rem;
}
.footer .madeBy .madeBy-links a .fa-linkedin {
  color: #0A66C2;
}
.footer .madeBy .madeBy-links a .fa-github {
  color: black;
}
.footer #btn-toTop {
  position: absolute;
  bottom: 2rem;
  width: 4rem;
  height: 4rem;
  text-align: center;
  -webkit-animation: blink 1s infinite alternate;
          animation: blink 1s infinite alternate;
  cursor: pointer;
  border: 1px solid #1c3762;
  border-radius: 50%;
  background-color: transparent;
}
.footer #btn-toTop i {
  color: #1c3762;
  font-size: 2rem;
  line-height: 2rem;
}

@media screen and (min-width: 1000px) {
  .footer {
    row-gap: 5rem;
  }
  .footer .credits h2 {
    font-size: 3.5rem;
  }
  .footer .credits .credits-links a img {
    width: 14rem;
  }
  .footer .madeBy h2 {
    font-size: 3.5rem;
  }
  .footer .madeBy p {
    font-size: 3rem;
  }
  .footer .madeBy .madeBy-links a .fa-brands {
    font-size: 3.5rem;
  }
  .footer #btn-toTop {
    bottom: 6rem;
    width: 5rem;
    height: 5rem;
  }
  .footer #btn-toTop i {
    font-size: 3rem;
    line-height: 3rem;
  }
}
@media screen and (min-width: 1400px) {
  .footer .credits h2 {
    font-size: 5rem;
  }
  .footer .credits .credits-links a img {
    width: 20rem;
  }
  .footer .madeBy h2 {
    font-size: 5rem;
  }
  .footer .madeBy p {
    font-size: 4rem;
  }
  .footer .madeBy .madeBy-links a .fa-brands {
    font-size: 5rem;
  }
  .footer #btn-toTop {
    bottom: 8rem;
    width: 6rem;
    height: 6rem;
  }
  .footer #btn-toTop i {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}
@media screen and (min-width: 2000px) {
  .footer .credits h2 {
    font-size: 10rem;
  }
  .footer .credits .credits-links {
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  .footer .credits .credits-links a img {
    width: 30rem;
  }
  .footer .madeBy h2 {
    font-size: 10rem;
  }
  .footer .madeBy p {
    font-size: 8rem;
  }
  .footer .madeBy .madeBy-links {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
  .footer .madeBy .madeBy-links a .fa-brands {
    font-size: 10rem;
  }
  .footer #btn-toTop {
    bottom: 15rem;
    width: 12rem;
    height: 12rem;
    border: 3px solid;
  }
  .footer #btn-toTop i {
    font-size: 5rem;
    line-height: 5rem;
  }
}/*# sourceMappingURL=style.css.map */