// Colors
$main-color: #1FAB89;
$sec-color: #1c3762;
$ter-color: #9DF3C4;
$qua-color: #D7FBE8;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
$rubik-font: 'Rubik', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$roboto-font: 'Roboto', sans-serif;

// Functions